<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.watchingy.dao.ClassDao">

    <select id="getByUidAndTime" resultType="com.watchingy.model.Class">
        SELECT * FROM class WHERE uid=#{uid} and createTime=#{createTime}
    </select>

    <!--返回list-->
    <select id="getByUid" resultType="com.watchingy.model.Class">
        SELECT * FROM class WHERE uid=#{uid}
    </select>

    <insert id="add" parameterType="com.watchingy.model.Class">
        INSERT INTO class(uid,create_time,class_order,course_id) VALUE (#{uid},#{createTime},#{classOrder},#{courseId})
    </insert>

    <!--返回数值需+1-->
    <select id="getClassOrder"  parameterType="String" resultType="int">
        SELECT COUNT(*) FROM class WHERE uid=#{uid}
    </select>


</mapper>