<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.watchingy.dao.UserInfoDao">
    <select id="findByUsername" resultType="com.watchingy.model.UserInfo">
        SELECT * FROM user_info WHERE username=#{username}
    </select>

    <select id="findUidByUsername" resultType="String">
        SELECT uid FROM user_info WHERE username=#{username}
    </select>

    <select id="findByEmail" resultType="com.watchingy.model.UserInfo">
        SELECT * FROM user_info WHERE email=#{email}
    </select>

    <select id="findByPhone" resultType="com.watchingy.model.UserInfo">
        SELECT * FROM user_info WHERE phone=#{phone}
    </select>

    <select id="findByUid" resultType="com.watchingy.model.UserInfo">
        SELECT * FROM user_info WHERE uid=#{uid}
    </select>

    <select id="findByCode" resultType="com.watchingy.model.UserInfo">
        SELECT * FROM user_info WHERE code=#{code}
    </select>

    <!--更新-->
    <update id="updateState" parameterType="java.util.HashMap">
        UPDATE user_info SET state=#{state} WHERE uid=#{uid}
    </update>

    <update id="updateTrueName" parameterType="java.util.HashMap">
        UPDATE user_info SET true_name=#{trueName} WHERE uid=#{uid}
    </update>

    <update id="updateHavingClass" parameterType="java.util.HashMap">
        UPDATE user_info SET having_class=#{classId} WHERE uid=#{uid}
    </update>

    <update id="updatePhone" parameterType="java.util.HashMap">
        UPDATE user_info SET phone=#{phone} WHERE uid=#{uid}
    </update>

    <update id="updateEmail" parameterType="java.util.HashMap">
        UPDATE user_info SET email=#{email} WHERE uid=#{uid}
    </update>

    <update id="updateSchoolNumber" parameterType="java.util.HashMap">
        UPDATE user_info SET school_id=#{schoolNumber} WHERE uid=#{uid}
    </update>
    <!--插入-->
    <insert id="add" parameterType="com.watchingy.model.UserInfo" >
        INSERT INTO user_info(uid,username,password,email,code,state,phone,uclass_number,true_name,school_id,having_class)
                    value(#{uid},#{username},#{password},#{email},#{code},#{state},#{phone},#{uclassNumber},#{trueName},#{schoolId},#{havingClass})
                     on duplicate key update password=VALUES(password),email=VALUES(email),phone=VALUES(phone)
    </insert>
    <!--验证密码-->
    <select id="checkPassword" parameterType="java.util.HashMap" resultType="com.watchingy.model.UserInfo">
        SELECT * FROM user_info WHERE username=#{username} AND password=#{password}
    </select>
    <!--通过名字获取uid-->
    <select id="getUid" parameterType="String" resultType="String">
        select uid from user_info where username=#{username}
    </select>
</mapper>